{% extends 'base.html' %}
{% load static %}

{% block title %}
   Archived Posts
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/archived.css' %}">
{% endblock %}

{% block content %}
    <h1>Archived Posts</h1>
    <ul>
        {% for post in archives %}
        <li>
            <h4>{{ post.title }}</h4>
            <span>Status: <strong> {{post.status}}</strong></span>
            <br>
            <a href="{% url 'post_detail' post.id %}">Continue Reading...</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
