{% extends 'base.html' %}
{% load static %}

{% block title %}
    About
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">

    <style>
        p {
            background-color: darkslategray;
            color: white;
        }
    </style>

    <script>
        console.log("Internal JS in Django!");
    </script>
{% endblock %}

<body class="body-css">
{% block content %}
    <h1>About Page using Jinja!</h1>

    <div class="photos">
        <img src="https://picsum.photos/600/300" alt="Picsum random photo">
        <img src="{% static 'images/external-img.jpg' %}" alt="Internal Image">
    </div>

    <p class="custom-p">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Asperiores ex eum pariatur ab. Fuga reiciendis, dolore reprehenderit 
        dolorem consequatur quis pariatur, numquam perferendis, vero officia 
        quidem accusamus modi inventore labore.
    </p>
{% endblock %}

</body>

{% block js %}
    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}
