<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
<h1>Hi, I am Jonathan Mason </h1>
<p>My friends call me John, I like to go to the gym and lift heavy weights. Some of my all time Personal records are: Bench Press 375lbs, Squat 425bls, incline bench 345lbs, and deadlift 485lbs. Hopefully, my strength hasn't peaked and I can lift even more this year!</p>
</body>
</html>