<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div>
        <h1>First Home Page on Django</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dolorum eius modi vero omnis quos perspiciatis non exercitationem sunt, asperiores incidunt harum, accusantium doloremque iste ratione iusto sit quidem maiores.</p>
    </div>
</body>
</html>